<div class="container" id="about">
  <%= @postings.each do |posting| %>
    <section class="career col-lg-12">
      <div class="col-lg-3">
        <img src=<%= posting.workspace_image %> class="img-responsive" alt="workspace-image" />
        <div class="label-group">
          <span class="label label-success">Skills</span>
          <span class="label label-warning">Level</span>
          <span class="label label-success">Location</span>
          <span class="label label-danger">Culture</span>
        </div>
      </div>
      <div class="col-lg-9">
        <h2><%= posting.company_name %></h2>
        <strong><%= posting.position_name %></strong>&nbsp;
        <a href="#">
          <span class="fa fa-map-marker"></span> <%= posting.location %>
        </a>
        <p><%= truncate(posting.description, length: 140) %></p>
        <button class="btn btn-block hidden-lg">Explore <span class="fa fa-expand"></span></button>
        <button class="btn btn-primary pull-right hidden-xs hidden-sm hidden-md">Explore <span class="fa fa-expand"></span></button>
      </div>
    </section>
  <% end %>
</div>
